---
import { LinkButton } from '@astrojs/starlight/components';

---

<section class=" py-10 flex flex-col justify-center items-center text-center px-4">
  <h1 class="text-xl md:text-5xl font-extrabold mb-8 leading-tight max-w-3xl">
    The Right OTP Input Component for React Native/Expo
  </h1>
  <div class="w-full flex justify-center mb-2 rounded-lg shadow-3xl overflow-hidden">
    <img src="/demo.gif" alt="OTP Demo" class="w-full max-w-2xl" />
  </div>
  <p class=" text-lg md:text-xl max-w-2xl">
    ✨ One time passcode Input For React Native/Expo. Unstyled and fully customizable. ✨  </p>
  <div class="flex flex-row gap-2 justify-center items-center">
      <a href="https://github.com/yjose/input-otp-native/actions/workflows/ci.yml"><img src="https://img.shields.io/github/actions/workflow/status/yjose/input-otp-native/ci.yml?style=flat-square&label=Test&logo=github&color=32A9C3&labelColor=1B3C4A" alt="Test status"></a>
        <a href="https://www.npmjs.com/package/input-otp-native"><img src="https://img.shields.io/npm/v/input-otp-native.svg?style=flat-square&color=32A9C3&labelColor=1B3C4A" alt="version"></a>
        <a href="http://www.npmtrends.com/input-otp-native"><img src="https://img.shields.io/npm/dt/input-otp-native.svg?style=flat-square&color=32A9C3&labelColor=1B3C4A" alt="downloads"></a>
        <a href="https://github.com/yjose/input-otp-native/blob/master/LICENSE"><img src="https://img.shields.io/npm/l/input-otp-native.svg?style=flat-square&color=32A9C3&labelColor=1B3C4A" alt="license"></a>
        <a href="https://github.com/yjose/input-otp-native/stargazers"><img src="https://img.shields.io/github/stars/yjose/input-otp-native.svg?style=flat-square&color=32A9C3&labelColor=1B3C4A" alt="Star on GitHub"></a>
  </div>
</div>
  <div class="flex flex-col md:flex-row my-8 justify-center">
    <LinkButton href="/getting-started/">Getting Started</LinkButton>
    <LinkButton href="https://github.com/yjose/input-otp-native" variant="secondary">
        Give a Star ⭐
    </LinkButton>
  </div>

</section>
